%head
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/

.bottomnav
  = link_to 'View Events', events_path, class: 'btn btn-warning btn-lg'
  .search-container
    %form{:action => "/action_page.php"}
      %input{:name => "search", :placeholder => "Search Events", :type => "text"}
      %button{:type => "submit"}
        %i.fa.fa-search
